<%= @game.player1.name %> vs <%= @game.player2.name %><br>
<%= @game.player1.name %>: <%= @game.player1.hp %>HP<br>
It is <%= @game.player1.name%>'s turn.<br>
<!-- this is breaking why -- @game.current_turn.name -->
<!-- <a href= '/attack'>Attack!</a> -->
<form action ="/attack" >
  <input type="submit" value="Attack!">
  </form>
<!-- <input onclick="this.value='Confirm'" type="button" value="Player 1 Attack!" id="myButton1" />
<input onclick="this.value='Confirm'" type="button" value="Player 2 Attack!" id="myButton1" /> -->
